<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-white">Slot hinzufügen</div>
                <div class="card-body">
                    <form [formGroup]="createSlotForm" (submit)="submit();" autocomplete="off" novalidate
                        *ngIf="!submitted; else loader">

                        <!-- Name -->
                        <div class="form-group">
                            <label for="date">Datum</label>
                            <br>

                            <!-- Datepicker -->
                            <mat-form-field class="example-full-width">
                                <mat-label>Datum wählen</mat-label>
                                <input formControlName="day" id="date" matInput [matDatepickerFilter]="myFilter"
                                    [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <ng-container *ngIf="createSlotForm.controls.day.touched">
                                <span class="text-danger" *ngIf="createSlotForm.controls.day.hasError('required')">
                                    Bitte gib einen Tag für den Slot an.
                                </span>
                            </ng-container>
                        </div>

                        <!-- start -->
                        <div class="form-group">
                            <label for="address">Ab</label>
                            <div class="24hr">
                                <input type="text" formControlName="from" id="start" class="form-control bg-white"
                                    placeholder="24hr format" aria-label="z.B. 13:00" [ngxTimepicker]="start"
                                    [format]="24" readonly>
                                <ngx-material-timepicker class="timepicker" #start></ngx-material-timepicker>
                            </div>
                            <ng-container *ngIf="createSlotForm.controls.from.touched">
                                <span class="text-danger" *ngIf="createSlotForm.controls.from.hasError('required')">
                                    Bitte gib einen Startzeitpunkt an.
                                </span>
                            </ng-container>
                        </div>
                        <!-- to -->
                        <div class="form-group">
                            <label for="address">Bis</label>
                            <div class="24hr">
                                <input type="text" formControlName="to" id="end" class="form-control bg-white"
                                    placeholder="z.B. 13:00" aria-label="z.B. 13:30" [ngxTimepicker]="end" [format]="24"
                                    readonly>
                                <ngx-material-timepicker #end></ngx-material-timepicker>
                            </div>
                            <ng-container *ngIf="createSlotForm.controls.to.touched">
                                <span class="text-danger" *ngIf="createSlotForm.controls.to.hasError('required')">
                                    Bitte gib einen Endzeitpunkt an.
                                </span>
                            </ng-container>
                        </div>

                        <!-- maxNum -->
                        <div class="form-group">
                            <label for="maxNum">Maximale Teilnehmer</label>
                            <input type="number" formControlName="maxNum" id="maxNum" class="form-control" placeholder="z.B. 5">
                            <ng-container *ngIf="createSlotForm.controls.maxNum.touched">
                                <span class="text-danger" *ngIf="createSlotForm.controls.maxNum.hasError('required')">
                                    Bitte gebe eine maximale Anzahl an Teilnehemern an.
                                </span>
                            </ng-container>
                        </div>

                        <button type="submit" class="btn btn-primary" *ngIf="createSlotForm.valid">Hinzufügen</button>
                        <button type="submit" class="btn btn-primary" disabled
                            *ngIf="!createSlotForm.valid">Hinzufügen</button>

                    </form>

                    <ng-template #loader>
                        <div class="text-center m-2">
                            <i class="fas fa-spinner fa-spin fa-2x"></i>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>