.card:hover {
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
    cursor: pointer;
}
.card:active{
    transform: scale(1.05);
  }

.shadow-clicked {
    box-shadow: 0 7px 14px rgb(77, 172, 15) !important;
}
.dot-green {
    height: 15px;
    width: 30px;
    background-color: green;
    border-radius: 15px;
    display: inline-block;
}

.dot-orange {
    height: 15px;
    width: 30px;
    background-color: orange;
    border-radius: 15px;
    display: inline-block;
}

.dot-red {
    height: 15px;
    width: 30px;
    background-color: red;
    border-radius: 15px;
    display: inline-block;
}

.warning {
    color: red;
}