<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Datum auswählen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="container">
          <div class="d-flex row justify-content-between">

            <div class="card col-lg-3 mb-3 mb-sm-0 col-md-12 col-sm-12 p-0 {{slotDisplayStyle[i]}}" *ngFor="let item of tafelList; let i = index"
              (click)="selectDate(i)" type="zoom">

              <div class="card-header bg-primary text-white">Tafel: {{item.tafelId}}
              <span class="{{dotDisplay[i]}} float-right mt-1"></span>  
              </div>

              <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{item.start | date:"hh:mm"}} bis {{item.ende | date:"hh:mm"}}</li>
                  <li class="list-group-item">{{item.start | pipedateString}} {{item.start | date:'dd.MM.yyyy'}}</li>
                  <li class="list-group-item">Plätze frei {{5 - item.maxPerson}}</li>
                </ul>
              </div>

            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-between">
        <p class="warning text-left">{{textwarning}}</p>
        <div>
          <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Schließen</button>
        <button type="button" class="btn btn-primary" *ngIf="!datePicked" disabled>Datum bestätigen</button>
        <button type="button" class="btn btn-primary" *ngIf="datePicked" (click)="sendDate()" data-dismiss="modal">Datum bestätigen</button>
        </div>
      </div>
    </div>
  </div>
</div>