<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h3 class="mb-3">Anmelden</h3>
            <div class="card">
                <div class="card-body">

                    <form [formGroup]="loginForm" (submit)="submit();" autocomplete="off" novalidate
                        *ngIf="!submitted; else loader">

                        <div class="alert alert-danger" *ngIf="error">
                            <p class="mb-0">{{ error }}</p>
                        </div>
                        <div class="form-group">
                            <label for="email">E-Mail Adresse</label>
                            <input type="text" id="email" formControlName="email" class="form-control"
                                placeholder="mail@example.org" autofocus />
                        </div>
                        <div class="form-group">
                            <label for="password">Passwort</label>
                            <input type="password" id="password" formControlName="password" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary" *ngIf="loginForm.valid">Anmelden</button>
                        <button type="submit" class="btn btn-primary" disabled
                            *ngIf="!loginForm.valid">Anmelden</button>

                        <p class="mt-3 mb-0">Noch keinen Account? <a routerLink="/auth/register">Jetzt registrieren</a>
                        </p>
                    </form>

                    <ng-template #loader>
                        <div class="text-center m-2">
                            <i class="fas fa-spinner fa-spin fa-2x"></i>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>