<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h3 class="mb-3">Registrieren</h3>

            <div class="card">
                <div class="card-body">
                    <form [formGroup]="registerForm" (submit)="submit();" autocomplete="off" novalidate
                        *ngIf="!submitted; else loader">

                        <div class="alert alert-danger" *ngIf="error">
                            <p class="mb-0">Ein Nutzer mit der E-Mail exestiert bereites</p>
                        </div>


                        <h5>1. Allgemeine Informationen</h5>
                        <hr />

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="border text-center py-2 pointer"
                                    [ngClass]="isManager ? '' : 'bg-primary text-white'" (click)="setIsManager(false)">
                                    <i class="fa fa-user fa-2x"></i>
                                    <p class="mb-0 mt-1">Kunde</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="border text-center py-2 pointer"
                                    [ngClass]="isManager ? 'bg-primary text-white' : ''" (click)="setIsManager(true)">
                                    <i class=" fa fa-users fa-2x"></i>
                                    <p class="mb-0 mt-1">Leiter</p>
                                </div>
                            </div>
                        </div>

                        <!-- Names -->
                        <div class="form-row form-group">
                            <div class="col-md-6">
                                <label for="firstName">Vorname</label>
                                <input type="text" id="firstName" formControlName="firstName" class="form-control"
                                    placeholder="Max" />
                                <ng-container *ngIf="registerForm.controls.firstName.touched">
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.firstName.hasError('required')">
                                        Bitte gib deinen Vornamen an.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.firstName.hasError('maxlength')">
                                        Dein Vorname darf nicht länger als 255 Zeichen sein.
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-md-6">
                                <label for="lastName">Nachname</label>
                                <input type="text" id="lastName" formControlName="lastName" class="form-control"
                                    placeholder="Mustermann" />
                                <ng-container *ngIf="registerForm.controls.lastName.touched">
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.lastName.hasError('required')">
                                        Bitte gib deinen Nachname an.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.lastName.hasError('maxlength')">
                                        Dein Nachname darf nicht länger als 255 Zeichen sein.
                                    </span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- E-mail -->
                        <div class="form-group">
                            <label for="email">E-Mail Adressse</label>
                            <input type="text" id="email" formControlName="email" class="form-control"
                                placeholder="mail@example.org" />
                            <ng-container *ngIf="registerForm.controls.email.touched">
                                <span class="text-danger" *ngIf="registerForm.controls.email.hasError('required')">
                                    Bitte gib deine E-Mail Addresse an.
                                </span>
                                <span class="text-danger" *ngIf="registerForm.controls.email.hasError('minlength')">
                                    Deine E-Mail Addresse muss mindestens 4 Zeichen lang sein.
                                </span>
                                <span class="text-danger" *ngIf="registerForm.controls.email.hasError('maxlength')">
                                    Deine E-Mail Addresse darf nicht länger als 255 Zeichen sein.
                                </span>
                                <span class="text-danger" *ngIf="registerForm.controls.email.hasError('email')">
                                    Deine E-Mail Addresse ist nicht gültig.
                                </span>
                            </ng-container>
                        </div>

                        <!-- Password -->
                        <div class="form-group">
                            <label for="password">Passwort</label>
                            <input type="password" id="password" formControlName="password" class="form-control" />
                            <ng-container *ngIf="registerForm.controls.password.touched">
                                <span class="text-danger" *ngIf="registerForm.controls.password.hasError('required')">
                                    Bitte gib ein Passwort an.
                                </span>
                                <span class="text-danger" *ngIf="registerForm.controls.password.hasError('minlength')">
                                    Dein Passwort muss mindestens 6 Zeichen lang sein.
                                </span>
                                <span class="text-danger" *ngIf="registerForm.controls.password.hasError('maxlength')">
                                    Dein Passwort darf nicht länger als 255 Zeichen sein.
                                </span>
                            </ng-container>
                        </div>

                        <!-- Password Confirmation -->
                        <div class="form-group">
                            <label for="passwordConfirmation">Passwort Bestätigung</label>
                            <input type="password" id="passwordConfirmation" formControlName="passwordConfirmation"
                                class="form-control" />
                            <ng-container *ngIf="registerForm.controls.passwordConfirmation.touched">
                                <span class="text-danger"
                                    *ngIf="registerForm.controls.passwordConfirmation.hasError('mustMatch')">
                                    Die Bestätigung stimmt nicht mit dem Passwort überein.
                                </span>
                            </ng-container>
                        </div>

                        <h5 class="mt-4">2. Spezifische Informationen</h5>
                        <hr />

                        <!-- Zip Code & Person Count -->
                        <div class="form-group form-row" *ngIf="!isManager">
                            <div class="col-md-6 form-group">
                                <label for="zipCode">Postleitzahl</label>
                                <input type="text" id="zipCode" formControlName="zipCode" class="form-control"
                                    (keydown)="onlyAllowNumbers($event)" (keyup)="keyUp$.next($event.target.value)"
                                    maxlength="5" placeholder="12345" />
                                <ul *ngIf="showOptions" class="list-group">
                                    <li *ngFor="let site of sitesToChoose" class="list-group-item"
                                        (click)="chooseSite(site.id, site.zipCode)">{{ site.name }}</li>
                                </ul>
                                <ng-container *ngIf="registerForm.controls.zipCode.touched">
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.zipCode.hasError('required')">
                                        Bitte gib deine Postleitzahl an.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.zipCode.hasError('minlength')">
                                        Deine Postleitzahl muss genau 5 Zeichen lang sein.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.zipCode.hasError('maxlength')">
                                        Deine Postleitzahl muss genau 5 Zeichen lang sein.
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-md-6">
                                <label for="numberOfPersons">Anzahl Personen</label>
                                <input type="number" id="numberOfPersons" formControlName="numberOfPersons"
                                    class="form-control" (keydown)="onlyAllowNumbers($event)" min="1" />
                                <ng-container *ngIf="registerForm.controls.numberOfPersons.touched">
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.numberOfPersons.hasError('required')">
                                        Bitte gib die Anzahl der zu Versorgenden Personen an.
                                    </span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Need / Wishes -->
                        <div class="form-group" *ngIf="!isManager">
                            <label for="incompatibilities">Besonderheiten/Präferenzen</label>
                            <input type="phone" id="incompatibilities" formControlName="incompatibilities"
                                class="form-control" placeholder="z.B. Gluten, Laktose" />
                        </div>


                        <!-- Name of FB-->
                        <div class="form-group" *ngIf="isManager">
                            <label for="fbName">Name der Tafel</label>
                            <input type="text" id="fbName" formControlName="fbName" class="form-control"
                                placeholder="Musterstadter Tafel e. V." />
                            <ng-container *ngIf="registerForm.controls.fbName.touched">
                                <span class="text-danger" *ngIf="registerForm.controls.fbName.hasError('required')">
                                    Bitte gib den Namen deiner Tafel an.
                                </span>
                                <span class="text-danger" *ngIf="registerForm.controls.fbName.hasError('maxlength')">
                                    Der Name darf max. 255 Zeichen lang sein.
                                </span>
                            </ng-container>
                        </div>

                        <!-- Street & Nr. -->
                        <div class="form-row form-group" *ngIf="isManager">
                            <div class="col-md-10">
                                <label for="fbStreet">Straße</label>
                                <input type="text" id="fbStreet" formControlName="fbStreet" class="form-control"
                                    placeholder="Musterstr." />
                                <ng-container *ngIf="registerForm.controls.fbStreet.touched">
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.fbStreet.hasError('required')">
                                        Bitte gib die Straße deiner Tafel an.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.fbStreet.hasError('maxlength')">
                                        Der Straßenname darf max. 255 Zeichen lang sein.
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-md-2">
                                <label for="fbStreetNumber">Nr.</label>
                                <input type="text" id="fbStreetNumber" formControlName="fbStreetNumber"
                                    class="form-control" placeholder="1" />
                                <ng-container *ngIf="registerForm.controls.fbStreetNumber.touched">
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.fbStreetNumber.hasError('required')">
                                        Bitte gib die Hausnummer deiner Tafel an.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.fbStreetNumber.hasError('maxlength')">
                                        Die Hausnummer darf max. 10 Zeichen lang sein.
                                    </span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Zip & Location -->
                        <div class="form-row form-group" *ngIf="isManager">
                            <div class="col-md-6">
                                <label for="fbZipCode">Postleitzahl</label>
                                <input type="text" id="fbZipCode" formControlName="fbZipCode" class="form-control"
                                    (keydown)="onlyAllowNumbers($event)" maxlength="5" placeholder="12345" />
                                <ng-container *ngIf="registerForm.controls.fbZipCode.touched">
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.fbZipCode.hasError('required')">
                                        Bitte gib die Postleitzahl deiner Tafel an.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.fbZipCode.hasError('maxlength') || registerForm.controls.fbZipCode.hasError('minlength')">
                                        Die Postleitzahl muss genau 5 Zeichen lang sein.
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-md-6">
                                <label for="fbLocation">Ort</label>
                                <input type="text" id="fbLocation" formControlName="fbLocation" class="form-control"
                                    placeholder="Musterstadt" />
                                <ng-container *ngIf="registerForm.controls.fbLocation.touched">
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.fbLocation.hasError('required')">
                                        Bitte gib den Ort deiner Tafel an.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="registerForm.controls.fbLocation.hasError('maxlength')">
                                        Der Ort darf max. 255 Zeichen lang sein.
                                    </span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Contact -->
                        <div class="form-group" *ngIf="isManager">
                            <label for="fbContact">Kontaktdaten</label>
                            <textarea type="text" id="fbContact" formControlName="fbContact" class="form-control"
                                rows="5"
                                placeholder="Weitere Telefonnummern, Email-Adressen oder andere Kontaktdaten eingeben."></textarea>
                            <ng-container *ngIf="registerForm.controls.fbContact.touched">
                                <span class="text-danger" *ngIf="registerForm.controls.fbContact.hasError('required')">
                                    Bitte gib Kontaktdaten deiner Tafel an.
                                </span>
                                <span class="text-danger" *ngIf="registerForm.controls.fbContact.hasError('maxlength')">
                                    Die Kontaktdaten dürfen max. 1000 Zeichen lang sein.
                                </span>
                            </ng-container>
                        </div>

                        <!-- Phone Number -->
                        <div class="form-group" *ngIf="isManager">
                            <label for="fbPhone">Telefonnummer</label>
                            <input type="phone" id="fbPhone" formControlName="fbPhone" class="form-control"
                                placeholder="0123456789" />
                            <ng-container *ngIf="registerForm.controls.fbPhone.touched">
                                <span class="text-danger" *ngIf="registerForm.controls.fbPhone.hasError('required')">
                                    Bitte gib deine Telefonnummer an.
                                </span>
                                <span class="text-danger" *ngIf="registerForm.controls.fbPhone.hasError('pattern')">
                                    Die Telefonnummer ist ungültig.
                                </span>
                            </ng-container>
                        </div>

                        <!-- Website -->
                        <div class="form-group" *ngIf="isManager">
                            <label for="fbWebsite">Homepage</label>
                            <input type="fbWebsite" id="fbWebsite" formControlName="fbWebsite" class="form-control"
                                placeholder="www.example.org" />
                            <ng-container *ngIf="registerForm.controls.fbWebsite.touched">
                                <span class="text-danger" *ngIf="registerForm.controls.fbWebsite.hasError('maxlength')">
                                    Die Url zur Website darf nicht mehr als 255 Zeichen haben.
                                </span>
                            </ng-container>
                        </div>

                        <button type="submit" class="btn btn-primary" *ngIf="registerForm.valid">Anmelden</button>
                        <button type="submit" class="btn btn-primary" disabled
                            *ngIf="!registerForm.valid">Anmelden</button>

                        <p class="mt-3 mb-0">Schon einen Account? <a routerLink="/auth/login">Jetzt anmelden</a>
                    </form>

                    <ng-template #loader>
                        <div class="text-center m-2">
                            <i class="fas fa-spinner fa-spin fa-2x"></i>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>