<h4 class="d-block mb-4"><i class="fa fa-list pr-2"></i>Alle Bestellungen</h4>

<div class="card mb-3" *ngFor="let order of orders">
  <div class="card-header">
    <i class="fas fa-hourglass-start"></i> {{ order.timeslot.startTime | date:'dd.MM.yyyy' }}
  </div>
  <div class="card-body">
    <i class="fas fa-user order-icon"></i> <span class="text-muted">Name: </span> {{ order.customer.firstName + " " + order.customer.lastName }} <br>
    <!-- <i class="fas fa-child order-icon"></i> <span class="text-muted">Anzahl Kinder: </span>{{ order.customerID.numberChilds }} <br> -->
    <i class="fas fa-exclamation-triangle order-icon"></i> <span class="text-muted">Kommentar:
    </span> <span class="nowrap-text">{{ order.comment }}</span> <br>
    <i class="far fa-clock order-icon"></i> <span class="text-muted">Von: </span> <span
      class="nowrap-text">{{ order.timeslot.startTime | date:'dd.MM.yyyy HH:mm' }}</span> <br>
      <i class="far fa-clock order-icon"></i> <span class="text-muted">Bis: </span> <span
      class="nowrap-text">{{ order.timeslot.endTime | date:'dd.MM.yyyy HH:mm' }}</span> <br>
  </div>
</div>