<footer class="footer my-3">
    <div class="container text-center">
        <span class="text-muted">
            Dieser Prototyp wurde als Teil des

            <a href="https://wirvsvirushackathon.org/" target="_blank">#wirvsvirus Hackaton</a> erstellt
        </span>
    </div>
</footer>