$theme-colors: (
  "primary": #172B4D,
  "danger": #c0392b,
);

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');


body {
    background: #FAFAFA;
    font-family: 'Poppins', 'Roboto', 'sans-serif';
    letter-spacing: 1px;
}

.card, 
.card-header {
    border: none;
    border-radius: 0!important;
}

.card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    .card-header {
        color: #fff;
        background-color: #172B4D;
    }

    .card-body {
        background-color: #FAFAFA;
    }
}


.form-control {
    border-radius: 0px;
    border: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    outline: 0;
}

.form-control:active,
.form-control:hover,
.form-control:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.timepicker {

    .timepicker__header {
      background-color: #172B4D !important;
    }
  
    .clock-face__clock-hand {
      background-color: #fff !important;
  
      &::after {
        background-color: #fff !important;
      }
  
      &::before {
        border-color: #fff !important;
      }
    }
  
    .clock-face__number {
      > span.active {
        background-color: #172B4D !important;
      }
    }
  
    button:not(.timepicker-dial__item) {
      color: #172B4D !important;
    }
  }

  .alert {
    border-radius: 0;
  }

  .alert-danger {
    border: none;
    color: #fff;
    background-color: #c0392b;
  }