<nav class="navbar navbar-expand-lg border-bottom p-0">

    <div class="container">
        <a class="navbar-brand" [routerLink]="['orders']">
            <img src="assets/images/logo.png" class="d-inline-block align-top brand-image" alt="">
        </a>

        <!-- Toggle on Mobile -->
        <button class="navbar-toggler mr-4 mr-md-0" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" (click)="close();">


            <ul class="navbar-nav">

                <li class="nav-item dropdown" *ngIf="isLoggedIn">
                    <a class="nav-link dropdown-toggle" href="#" id="orderNavbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Slots
                    </a>
                    <div class="dropdown-menu" aria-labelledby="orderNavbarDropdown">
                        <a class="dropdown-item" [routerLink]="['slots/add']">
                            <i class="fa fa-plus"></i>
                            Neue Slots
                        </a>
                        <a class="dropdown-item" [routerLink]="['slots']">
                            <i class="fa fa-list"></i>
                            Alle Slots
                        </a>
                    </div>
                </li>

                <li class="nav-item dropdown" *ngIf="isLoggedIn">
                    <a class="nav-link dropdown-toggle" href="#" id="orderNavbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bestellungen
                    </a>
                    <div class="dropdown-menu" aria-labelledby="orderNavbarDropdown">
                        <a class="dropdown-item" [routerLink]="['orders/add']">
                            <i class="fa fa-plus"></i>
                            Neue Bestellung
                        </a>
                        <a class="dropdown-item" [routerLink]="['orders']">
                            <i class="fa fa-list"></i>
                            Alle Bestellungen
                        </a>
                    </div>
                </li>

                <li class="nav-item" *ngIf="!isLoggedIn" [routerLinkActive]="['active']" [routerLink]="['auth/login']">
                    <a class="nav-link" style="cursor: pointer;" (click)="$event.preventDefaults">Anmelden</a>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn" (click)="logout();">
                    <a class="nav-link" style="cursor: pointer;" (click)="$event.preventDefaults">Abmelden</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
