.navbar {
    background-color: #172B4D;
}

.navbar-brand {
    padding: 0;
    p {
        margin: auto;
        font-size: 32px;
        color: #fff;
    }
}

.brand-image {
  width: 12rem;
  height: 5rem;
}

.nav-item {
    margin: 20px 10px;
}

.nav-item a {
    color: #fff;
}

.dropdown-menu {
    border-radius: 0px;
    border: 0px;
    padding: 0;

    .dropdown-item {
        color: #333;
        padding: 8px 10px;
    }

    .dropdown-item i {
        margin-right: 10px;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        color: #fff;
    }
}

@media only screen and (max-width: 575px) {
    .navbar-brand {
        margin-left: 30px;
    }
}
