<div class="container mt-5 ">
    <div class="row">
        <div class="col">
            <div class="card border-top-0">
                <div class="card-header">
                    <h4 class="mb-0"><i class="fa fa-plus pr-2"></i>Neue Bestellung</h4>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" autocomplete="off" novalidate (submit)="submit();">


                        <!-- comments -->
                        <div class="form-group">
                            <label for="comments">Extras / Kommentar</label>
                            <input type="text" formControlName="comments" id="comments" class="form-control"
                                placeholder="Hier ggf. den Namen der Abholer:in angeben">
                        </div>

                        <!-- Date -->
                        <div class="form-group" *ngIf="dateSelected">
                            <label for="datum">Datum</label>
                            <br>
                            <label for="datum">
                                Am {{pickedSlot.startTime | pipedateString }}
                                den {{pickedSlot.startTime | date:'dd.MM.yyyy'}}
                                von {{pickedSlot.startTime | date:"hh:mm"}}
                                bis {{pickedSlot.endTime | date:"hh:mm"}}</label>


                        </div>

                    </form>
                    <div class="container">
                        <div class="d-flex justify-content-between row">
                            <button type="submit col-lg-2 col-sm-12" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#exampleModal">
                                Auswahldatum auswählen
                            </button>

                            <button type="submit col-lg-2 col-sm-12" class="btn btn-primary btn-sm"
                                *ngIf="form.valid && dateSelected" (click)="submit()">
                                Bestellung absenden
                            </button>
                        </div>

                    </div>

                    <app-date-picker (Eslot)="setDate($event)"></app-date-picker>
                </div>
            </div>
        </div>
    </div>
</div>
