<div class="container">
    <div class="d-flex row justify-content-between">
    <div class="card col-md-3 col-sm-12 p-0" *ngFor="let item of tafelList" onclick="selectDate()">
      <div class="card-header bg-primary text-white">Tafel</div>
      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{item.begin | date:"hh:mm"}} bis {{item.end | date:"hh:mm"}}</li>
          <li class="list-group-item">{{item.begin | date:'EEEE dd.MM.yyyy' : 'de-DE'}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
